/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 .logo{
 	height: 100px;
 	width: 100px;
 	padding-top: 50px;
 }

 .topo{
	    height: 165px;

}

.topo li{
	padding-top: 50px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}